@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 236, 236, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  color: rgb(var(--foreground-rgb));
}

header {
  color: rgb(184, 169, 142);
}

.oswald-font {
  font-family: var(--font-oswald), sans-serif;
}

.noto-sans-jp-font {
  font-family: var(--font-noto-sans-jp), sans-serif;
}

.bebas-neue-font {
  font-family: var(--font-bebas-neue), sans-serif;
}

footer {
  color: rgb(229, 229, 222);
  background: rgb(25, 25, 25);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
